fieldset {
    background: linear-gradient(grey,lightgrey);
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-right: 10%;
    padding: 4px;
}
input[type=submit] {
    background: linear-gradient(rgb(30, 117, 30),rgb(22, 77, 22),rgb(30, 117, 30));
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 18px; 
    margin-left: 35%;
    color: white;
}
label {
    margin-left: 15%;
}
input,textarea,select {
    margin-left: 55%;
}
#doctor_id {
    margin-left: 175px;
    padding: 5px 72px;
}
#appointment_date {
    margin-left: 82px;
    padding: 3px 32px;
}
#app_from_time {
    margin-left: 143px;
    padding: 3px 79px;
}
#app_to_time {
    margin-left: 163px;
    padding: 3px 79px;
}
#error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}