.foo{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgb(153, 147, 147);
  color: white;
  text-align: center;
}

.logout {
  float:right;
  padding:5px;
}
.profile {
  float: right;
  padding: 5px;
}
article {
  margin-left: 15px;
  margin-right: 15px;
}
h1{
  text-shadow: 2px 2px 8px #565656;
}
/* fieldset{
  background-color: #a59f9f;
  background: linear-gradient(grey,lightgrey);
  max-width:10%;
  padding: 45px;	
  margin-left: 16%;
  border: 2px outset black;
  border-radius: 2%;
  text-align: center;
  margin-bottom: 3%;
} */
form label {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset legend{
  text-shadow: 2px 2px 8px #565656;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* form input{
  background-attachment: fixed;
  padding: 12px 80px;
  margin: 8px 200px;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
} */
/* input[type=radio]{
  margin: 8px 0;
}
form select{
  background-attachment: fixed;
  padding: 12px 30px;
  margin: 8px 280px;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
}
form textarea{
  background-attachment: fixed;
  padding: 12px 30px;
  margin: 8px 210px;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
}
input[type=radio],
input.radio {
  display:inline;
}
input[type=checkbox],
input.checkbox {
  display:inline;
} */ 
/* input[type=submit]{
  background-color: rgb(19, 116, 111);
  border: 2px solid whitesmoke;
  border-radius: 2px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 18px;
  margin-left: 45%;
} */
#add img {
  display: block;
  height: 20px;  
  width: 20px;
}
#delete img {
  display: block;
  height: 20px;  
  width: 20px;
}
header {
  margin-top: 5px;
}
