body{
	background-image:linear-gradient(to right,skyblue,yellow);
	font-style:italic;
}
.heading{
	font-size:30px;
	font-style:CosmicSansMS;
	border:2px inset pink;
	background-color:pink;
}
aside{
  	padding-left: 15px;
  	margin-left: 15px;
  	float:right;
  	font-style: italic;
  	background-color: lightpink;
}
footer{
  	padding-left: 15px;
  	margin-left: 15px;
  	float:left;
  	font-style: italic;
  	background-color: lavender;
  	box-shadow: 5px 10px;
}
section{
	font-size:20px;
	color:red;
}
img {
	float:right;
}