header{
font-size:50px;
color:white;
text-align:center;
border:2px inset;
background-image:linear-gradient(to right,red,black);
}
body{
background-image:url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");
background-size:cover;
background-repeat:no-repeat;
background-attachments:fixed;
}
ul{
	list-style-type:none;
	margin:20px;
	padding:2px;
	overflow:hidden;
	background-image:linear-gradient(to right,skyblue,yellow);
}
li{
	float:left;
}
li a{
	display:block;
	color:black;
	text-align:center;
	padding:16px;
	width:400px;
}
li a:hover{
	background-color:white;
}
.main-co{
	width: 20%;
  	padding-left: 15px;
  	padding-bottom: 15px;
  	margin-left: 250px;
  	float: left;
  	font-style: italic;
  	background-color: lightgray;
	box-shadow:4px 8px white;
	color:red;

}
.main-co1{
	width: 20%;
  	padding-left: 15px;
  	padding-bottom: 15px;
  	margin-left: 650px;
  	float:left;
  	font-style: italic;
  	background-color: lightgray;
	box-shadow:4px 8px white;
	color:darkpink;

}
.main-co2{
	width: 20%;
  	padding-left: 15px;
  	padding-bottom: 15px;
  	margin-left: 150px;
  	float: right;
  	font-style: italic;
  	background-color: lightgray;
	box-shadow:4px 8px white;
	color:seagreen;

}
