table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
    color: black;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #ddd;
  color: black}
  
  table tr:hover {background-color: #ddd;
  color: black}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #797575;
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 7px whitesmoke;
  }