img {
    height: 150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
}
body {
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../views/css/images/image2.jpg");
background-repeat:no-repeat;
background-attachment: fixed;
background-size: cover;
}
.profileImage {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#photo {
    height: 100%;
    width: 100%;
} 
#file {
    border: none;
}
#upload {
    padding: 10px;
    background-color: lightgrey;
    margin: 0px 70px;
}