body{
	background-image:url("https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?cs=srgb&dl=pexels-picjumbocom-461077.jpg&fm=jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
h1{
	font-size:60px;
	font-style:Verdana;
	color:red;
	text-align:center;
}
h2{
	font-size:40px;
	font-style:cosmicsanms;
	color:green;
}
.lay{
	font-size:20px;
	font-style:cosmicsanms;
	color:black;
}
.column{
	float: left;
  	width: 35.33%;
	margin: 70px;
}
.login{
	float:right;
	width:400px;
	margin: 45px;
	border: 2px solid ;
	background-color:grey;
	padding:20px;
	opacity:0.5;
	
}
button{
background-color:black;
color:white;
}